* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.quicksand-font {
  font-family: "Quicksand", serif;
  font-style: normal;
}
/* Shared Style */
.white {
  color: #f7f7f7;
}
.sky_blue {
  color: #01acfd;
}
.orange {
  color: #fea301;
}
.black {
  color: #111111;
}
.navy_blue {
  color: #5d58ef;
}
.velvet {
  color: #05d4df;
}
.btn-primary {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 60px;
  border-radius: 12px;
  font-size: 1.25rem;
}

main, header {
    width: 100%;
    max-width: 1158px; 
    margin: 0 auto;
  }
  
  footer {
    width: 100%; 
    background-color: rgb(1, 172, 253);
  }
  
.dflex {
  display: flex;
}
.dgrid {
  display: grid;
}
img {
  width: 100%;
}
/* Navbar Style */
.navbar {
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  padding: 16px;
}
.navbar ul,
li {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}
.navbar ul,
li,
a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.navleft {
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.brand {
  font-size: 2rem;
  font-weight: bold;
}
marquee{
  font-size: 1.5rem;
  font-weight: bold;
  
}
/* Mobile navbar */
.mobile {
  height: 70px;
  width: 400px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 377px; */
  /* border-bottom: 1px solid orange; */
  
}
.border{
  border-bottom: 1px solid orange;
  display: none;
}

.mobileleft {
  width: 50px;
  height: 50px;
}
.mobileleft img {
  width: 100% auto;
}
.mobilemid {
  width: 70%;
}
.mobileright {
  width: 15%;
}
.fa-solid fa-bars {
  width: 50px;
  height: 50px;
  color: #111111;
}
.navmid {
    width: 600px;
}
.header-menu-con{
  justify-content: center;
  align-items: center;
  margin-top: 19px;
}
/* Banner section Style */
.banner {
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}
.banner-titile {
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 18px;
}
.banner-des {
  font-size: 1.12rem;
  font-weight: normal;
  margin-bottom: 14px;
}
.banner-right img{
    width: 100%;
}
#enroll {
  background-color: #111111;
  font-size: 20px;
}
/* Curriculr section */
.curriculum {
    margin-top: 50px;
  gap: 80px;
  padding: 60px 0px;
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the background image */
  width: 100%; /* Ensures full width of the container */
  height: 100%; /* Ensures the container takes full height */
  overflow-x: hidden; /
  
  }
  
.curriculum h1 {
  text-align: center;
  color: black;
  font-size: 2.9rem;
  margin-bottom: 3rem;
}
.card-container {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
}
.imgbox {
  width: 136px;
  height: 136px;
}
#c1 {
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  position: relative;
  width: 367.8px;
  height: 476.78px;
}
#c2 {
  position: relative;
  width: 367.8px;
  height: 481.5px;
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
#c3 {
  position: relative;
  width: 367.8px;
  height: 476.78px;
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-h {
  color: rgb(32, 32, 32);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 30.65px;
  letter-spacing: 0%;
  text-align: center;
}
.card-des {
  color: rgb(128, 128, 128);
  font-size: 1rem;
  font-weight: 500;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
}
.read {
  font-size: 1rem;
  font-weight: 700;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
  display: block;
  margin-top: 30px;
}
.imgbox {
  width: 130.7px;
  height: 111.94px;
  margin: 40px auto;
  left: 2.13%;
  right: 2.3%;
  top: 9.1%;
  bottom: 9.05%;
}
/* Arrow style  */
.arrow {
  justify-content: center;
  margin-bottom: 60px;
}
.left,
.fa-solid fa-chevron-left,
.right,
fa-solid fa-chevron-right {
  position: relative;
  margin-left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: rgb(254, 163, 1);
  color: rgb(255, 255, 255);
  font-size: 1.24rem;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
i.fa-solid.fa-chevron-left,
i.fa-solid.fa-chevron-right {
  margin-top: 20px;
}
/* our story section */
.our-story{
  width: 100%;
  background: url('./assets/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 60px 0px 60px 0px;
  
}
.story-containernew{
  width: 1158px;
  margin: 0 auto;
  
}
.story-card-container{
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
}
.story_right_container{
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.story-containernew h1{
  color: rgb(0, 0, 0);
font-size: 2.75rem;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 50px;
}
.story_left_container{
  border-radius: 16px;
background: rgb(255, 255, 255);
}
.story-img{
  border-radius: 16px 16px 0px 0px;
background: rgb(217, 217, 217);
}
.storybtn1{
  border-radius: 47.93px;
background: rgb(60, 216, 232);
color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 500;
text-align: center;
text-transform: capitalize;
border: none;
width: 174.51px;
height: 47.93px;
margin-left: 2.75rem;
position: relative;
margin-top: -100px;
}
.story-heading{
  color: rgb(0, 0, 0);
font-size: 1.25REM;
font-weight: 700;
text-align: left;
margin-left: 30px;
margin-top: 20px;
margin-bottom: 20px;
}

.story-desnew{
  color: rgb(102, 102, 102);
  margin-left: 30px;
font-size: 1rem;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
}
.story-right-item{
  border-radius: 16px;
background: rgb(255, 255, 255);
position: relative;
overflow: hidden;
}
.story2{
  border-radius: 16px 16px 0px 0px;
background: rgb(255, 255, 255);

}
.story-right-h5{
  color: rgb(0, 0, 0);
font-size: 1rem;
font-weight: 700;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
margin-left: 35px;
margin-top: 20px;
margin-bottom: 20px;
}
#btn1{
  background-color: rgb(149, 178, 38);
  margin-top: -100px;
}
#btn2{
  background-color: rgb(93, 88, 240);
  margin-top: -100px;
}
#btn3{
background: rgb(254, 163, 1);
  margin-top: -100px;
}
#btn4{
  background-color: rgb(5, 212, 223);
  margin-top: -100px;
}
#viewall{
  background-color: rgba(17, 17, 17);
width: 197px;
height: 50px;
padding: 10px;
margin: 0 auto;
margin-top: 40px;
}
/* Footer section style */
.footer-container{
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  width: 1158px;
  margin: 0 auto;
  gap: 50px;
  
}
.fmid-menu {
  margin-top: 89px;
}
.fmid-menu ul,li{
  display: block;
  margin-bottom: 20px;
  
}
.brand-f{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}
.footer-desn{
  color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.fleft-container{
  margin-top: 40px;
  
}

.fmid-title{
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.fmid-menu-item{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}
.fmid-menu{
  text-align: left;
}
.fright-container h4{
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 700;
  text-align: left;
}
.fright-social-container{
  gap: 10px;
  margin-top: 20px;
}
.storybtn1 {
  border-radius: 47.93px;
  background: rgb(60, 216, 232);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  border: none;
  width: 174.51px;
  height: 47.93px;
  margin-left: 2.75rem;
  position: relative;
  top: -16px;
}
/* Responsive media query */
@media screen and (max-width: 576px) {
  .navbar {
    display: none;
  }
  .story-right-item {
    /* margin-left: 35px; */
}
.storybtn1 {
  background-color: rgb(149, 178, 38);
  margin-top: -100px;
  font-size: 10px;
  width: 131px;
  height: 32px;
  margin-left: 19px;
}
.story-right-h5 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 35px;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 117px;
    font-size: 10px;
}
.story_right_container {
  gap: 10px;
  margin-left: 70px;
}
.border{
  border-bottom: 1px solid orange;
  display: block;
}
.story-right-item {
  width: 173px;
  height: 210px;
}

  section.banner {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 40px;
    place-items: center;
  }
  .arrow {
    display: none;
  }
  .footer-container {
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    padding: 20px;
    width: 100%;
}
.fmid-container {
  margin-top: -50px;
}
.story_left_container {
  display: none;
}
.story-containernew {
  width: 100%;
}
.story-card-container {
  margin-left: 28px;
}
.storybtn1 {
  margin-left: 4px;
}
}
@media screen and (min-width: 576px) {
  .mobile {
    justify-content: space-between;
    align-items: center;
    margin-left: 134px;
}
}

@media screen and (min-width: 577px) {
  .mobile {
    display: none;
  }
}

